transformers==4.41.2
torch==2.2.2
accelerate==0.30.1
sentence-transformers==2.7.0
langchain
faiss-cpu==1.7.4
numpy==1.26.4
pandas
scikit-learn
rank-bm25
nltk
arabic-reshaper
python-bidi
streamlit
fastapi
uvicorn
plotly
pydantic